<html>
	<head>
		<link rel="stylesheet" href="../../css/feature_progress.css"/>
		<link rel="stylesheet" href="../../css/fonts.css"/>
		<link rel="stylesheet" href="../../css/tables.css"/>
		
		<link rel="stylesheet" href="../../plugins/prism/prism.css"/>
	</head>
	<body>
		<script src="../../plugins/jquery/jquery-3_3_1-min.js"></script>
		<script src="../../plugins/prism/prism.js"></script>
		<script src="../../shared/js/table_functions.js"></script>
		
		
		<!-- HOME -->
		<div style="position: absolute; top: 15px; right: 25px;">
			<a href="../../index.html">Home</a>
		</div>
		<!-- MAIN -->
		<div>
			<div class="pageHeader">Anchor</div>
			<div class="pageTags">	-tags: anchor, optional, component, actors</div>
		</div>
		
		<br><br>
		
		<div>
			<div class="sectionHeader">Description</div>
			<div>TODO</div>
		</div>
		
		<br><br>
		
		<div>
			<div class="sectionHeader">Attributes</div>
			<div class="sizeLimit">
				<table id="attributeTable" class="componentTable">
					<thead>
						<tr>
							<th class="cp1 darkercolor">Attribute</th>
							<th colspan="5" class="cp2 darkercolor">Info</th>
							<th rowspan="2" class="cp1 lightcolor">Status</th>
						</tr>
						<tr>
							<th class="cp3 name lightcolor">Name</th>
							<th class="cp3 type lightcolor">Required?</th>
							<th class="cp3 type lightcolor">Type</th>
							<th class="cp3 type lightcolor">Default</th>
							<th class="cp3 type lightcolor">Merge With Internal?</th>
							<th class="cp3 desc lightcolor">Description</th> 
						</tr>
					</thead>
					<tbody>
						<tr><td colspan="6" style="height:5px;"></tr>
						<script>
						addAttributeToTable("lune", "No", "String Array", "$all", "Yes", "The lune attribute dictates which lune(s) an actor could be created.", "isConcept");
						
						addAttributeToTable("parent", "No", "String", "$lune", "No", "The parent attribute controls where the actor is attached in a scene. Some systems (like positioning) is  relative to a parent.", "inDevelopment");
						</script>
					</tbody>
				</table>
			</div>
		</div>
				
		<br><br>
		<div>
			<div class="sectionHeader">Examples</div>
			<p class="usecase">When declaring ...
			</p>
			<pre style="width:60%" class="language-xml">
				<code><!--
					<layer lune="1,2" parent="">
						...
					</layer>
				--></code>
			</pre>
			<span> OR </span>
			<pre style="width:60%" class="language-xml">
				<code><!--
					<window>
						<anchor parent="rotating_layer"/>
						...
					</window>
				--></code>
			</pre>
			<span> OR </span>
			<pre style="width:60%" class="language-xml">
				<code><!--
					<!- compiled component would have { lune="0,1" parent="" } ->
					
					<window lune="0" parent="">
						<anchor lune="1" parent="popup_3"/>
						...
					</window>
				--></code>
			</pre>
		</div>

		<h5>Notes:</h5>
		<ul>
			<li>Actors will use the same-level attributes first before internal(child) attributes. Top-level takes preference and unless stated, lower-level will replace undefined attributes.</li>
		</ul>
	</body>
</html>